<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="row">
      <% @readings.each do |reading| %>
        <div class="panel panel-default">
          <div class="panel-heading link-heading">
            <a href="<%= reading.url %>" class="panel-title col-md-7" target="_blank"><%= reading.title %></a>
          </div>
          <div class="panel-body">
            <p class="list-group-item-text col-md-8"><%= reading.description %></p>
            <div class="link_meta col-md-4">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

