<div class="row">

  <div class="col-md-2">

  </div>

  <div class="col-md-8">
    <div class="well well-lg">
      <h1 class="text-align-center">Add New link</h1>
      <%= render 'form' %>
     </div>
  </div>

  <div class="col-md-2">

  </div>

</div>

