.panel-heading.link-heading {
  overflow: hidden;
}

.tag_list {
  float: right;
  text-align: right;
  p {
    float: left;
    margin-right: 15px;
  }
  a {
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    &:last-child {
      border-right: none;
    }
  }
}

.text-align-center {
  text-align: center
}

.form-horizontal {
  text-align: center;
}

#error_explanation {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}
.user_drop {
  padding: 5px !important;
  .avatar {
    width: 50px;
    border-radius: 50%;

  }
}
.add_new_link {
  margin-right: 50px;
  color: #fff !important;
  &:hover {
    background-color: #e64540 !important;
    border-color: #e4332e !important;
  }
}
