.panel-heading.link-heading {
  overflow: hidden;
}

.tag_list {
  float: right;
  text-align: right;
  p {
    float: left;
    margin-right: 15px;
  }
  a {
    margin-right: 10px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    &:last-child {
      border-right: none;
    }
  }
}

.text-align-center {
  text-align: center
}

.form-horizontal {
  text-align: center;
}

#error_explanation {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}
.user_drop {
  padding: 5px !important;
  .avatar {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.add_new_link {
  color: #fff !important;
  &:hover {
    background-color: #e64540 !important;
    border-color: #e4332e !important;
  }
}
.posted_by {
  text-align: right;
  .avatar {
    width: 30px;
    border-radius: 50%;
  }
}
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
.add_reading,
.link_user_info{
  float: right;
  clear: right;
  margin-bottom: 5px;
}
.tooltip {
  width: 200px !important;
  .tooltip-inner {
    background: #fff;
    border: 1px solid #333;
    color: #222
  }
}
.avatar-lg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  display: block;
  margin: 10px 25px 0 0;
}